// HEADER
.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4.4rem;

	img {
		align-self: center;
	}
}

@media screen and (max-width: 375px) {
	.header {
		margin-bottom: 80px;

		img {
			width: 104px;
			height: 16px;
		}
	}
}

.cta-header {
	padding: 13px 63px;
	border-radius: 24px;
	background: #fff;
	box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.1);
	border: none;
	font-weight: 700;
	color: $neutral-very-dark-cyan;

	&:hover {
		color: $neutral-grayish-blue;
	}
}

@media screen and (max-width: 375px) {
	.cta-header {
		padding: 8px 34px;
	}
}

// CTA-section

.cta-card {
	position: relative;
	height: 280px;
	max-width: 50rem;
	margin: 160px auto -120px auto;
	border-radius: 15px;
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
	background-color: #fff;

	&__content {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		h2 {
			color: #00252e;

			font-size: 32px;

			font-weight: 600;
		}
	}

	h2 {
		color: $neutral-very-dark-cyan;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
	}
}

.button-cta {
	border: none;
	background-color: $primary-pink;
	width: 400px;
	height: 80px;
	box-shadow: (0px 6px 13px rgba(0, 37, 46, 0.22));
	border-radius: 40px;
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;

	&:hover {
		cursor: pointer;
		background-color: #ff9adb;
	}
}

@media screen and (max-width: 375px) {
	.cta-card {
		max-width: 352px;
		height: 176px;
		margin: 20px auto -75px auto;
	}
	.cta-card__content {
		h2 {
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
		}
	}

	.button-cta {
		width: 200px;
		height: 40px;
		font-size: 14px;
	}
}
