// Colors
// __Primary
$primary-pink: hsl(322, 100%, 66%);
$primary-pink-focus: hsl(322, 69%, 24%);

//__Neutral Colors
$neutral-very-pale-cyan: hsl(193, 100%, 96%);
$neutral-very-dark-cyan: hsl(192, 100%, 9%);
$neutral-grayish-blue: hsl(208, 11%, 55%);

// Fonts & Typography
$ff-headings: "Poppins", sans-serif;
